@model IEnumerable<MvcExample.Models.Person>
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>

    <table>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.FirstName</td>
                <td>@p.LastName</td>
                <td>@p.Address</td>
                <td><a href="@Url.Action("Details", new { id = p.Id })">Szczegóły</a></td>
            </tr>
        }
    </table>

    <div> 
            <span>
                <a href="@Url.Action("Index", new{page=1})">1</a> 
            </span>, 
            <span>
                <a href="@Url.Action("Index", new {page=2})">2</a> 
            </span>, 
            <span>
                <a href="@Url.Action("Index", new {page=3})">3</a> 
            </span>, 
    </div>

</body>
</html>